@{
    Layout = "/Views/Shared/_MasterLayout.cshtml";
}

<div id="main-wrapper" class="w-100">
    <div id="main-container" class="container">
        <main id="main" role="main" class="pt-3 pb-3">
            <partial name="_CookieConsentPartial" />
            <partial name="_SuccessMessagePartial" />
            @RenderBody()
        </main>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
