@page
@model RecipeBook.Areas.Identity.Pages.Account.Admin.EditUserModel
@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-md-6 offset-md-3 card">
        <h4>@ViewData["Title"]</h4>
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Role" class="control-label"></label>
                <select asp-for="Input.Role" class="form-control"
                        asp-items="@Model.Roles">
                    <option value="">-- Select --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Input.Household" class="control-label"></label>
                <select asp-for="Input.Household" class="form-control"
                        asp-items="@Model.Households">
                    <option value="">-- Select --</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
