<footer class="footer">
    <div id="footer-div" class="fixed-bottom border-top text-muted">
        <div class="row justify-content-center">
            &copy; @DateTime.Now.Year&nbsp;-&nbsp;
            @Constants.SiteAbbreviation&nbsp;-&nbsp;
            <a class="" href="https://icons8.com/">Icons by Icon8</a>&nbsp;-&nbsp;
            <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>&nbsp;-&nbsp;
            <a class="" asp-area="" asp-controller="Home" asp-action="About">About</a>&nbsp;-&nbsp;
            <a class="" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </div>
    </div>
</footer>